
<div class="face-snap-style" [ngClass]="{snapped : textSnap==='Oups Unsnap'}"  >

  <!-- il y a trois pipe pour case : upercase, lowercase et titlecase -->
  <h2>{{faceSnap.title | uppercase}}</h2>
  <h4>{{faceSnap.description}}</h4>
  <div class="">
    <br>
    <!-- *1* attribute bainding -->
    <img id="fuck" [src]="faceSnap.img1Url" [alt]="faceSnap.title"> <a routerLink="/facesnaps" style="margin-left:60px">  Back</a>
    <p *ngIf="faceSnap.location" >Photo token in {{faceSnap.location}} </p>

    <!-- this work also in the cas of sting but *1* is butter to use
    <img src="{{img1Url}}" alt="{{title}}">   -->
    <br>
  </div>

  <p><button (click)="toggelSnap()">{{textSnap}} </button> <span [ngStyle]="{color : 'rgb(0,0,'+faceSnap.snaps*35+')'}">👍 {{faceSnap.snaps}}</span> </p>
  <!-- pour configurer le formatage des chiffre on a le pipe : number : 'nbr entier . min nbr apres la virgule - max nbr aprs la virgule'-->
  <p>{{3454.456 | number : '1.3-4'}} <==> {{   0.237| percent : '1.0-0'}}  <==> {{  233.4 | currency : 'EUR':'symbol'}}</p>
  <h4>Posted in :<!-- pour configurer le formatage des date on a le pipe : date
       avec des parameter sous une chaine de char like: short, medium,longDate, mediumTime
        ou bien : d MMMM yyyy, à HH:mm-->

    <span  >{{faceSnap.createdDate | date :'d MMMM yyyy, à HH:mm' }}</span>
  </h4>

</div>


